<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        {% block table_head %}{% endblock %}
    </thead>
    <tbody>
        {% block table_body %}{% endblock %}
    </tbody>
</table>

