<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">{% block title_panel %}{% endblock %}</h2>
    </header>
    <div class="panel-body">
        {% block panel_body %}{% endblock %}
    </div>
</section>
