
    <header class="page-header">
        <h2>{% block title_page %}{% endblock %}</h2>
        
        <div class="right-wrapper pull-right">
            {% block breadcrumb %}{% endblock %}
        </div>
    </header>
